<div class="site-section" id="contact-section">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center mb-2" data-aos="fade-up" data-aos-delay="">
            <div class="block-heading-1">
              <span>Ponete en</span>
              <h2>Contacto</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 mb-5" data-aos="fade-up" data-aos-delay="100">
            <form action="https://usebasin.com/f/c1c7a164146a" method="post">
              <div class="form-group row">
                <div class="col-md-6 mb-4 mb-lg-0">
                  <input name="nombre" type="text" class="form-control" placeholder="Nombre">
                </div>
                <div class="col-md-6">
                  <input name="apellido" type="text" class="form-control" placeholder="Apellido">
                </div>
              </div>

              <div class="form-group row">
                <div class="col-md-12">
                  <input name="mail" type="text" class="form-control" placeholder="Dirección de mail">
                </div>
              </div>

              <div class="form-group row">
                <div class="col-md-12">
                  <textarea name="mensaje" id="" class="form-control" placeholder="Escribinos tu mensaje." cols="30" rows="10"></textarea>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-md-6 ml-auto">
                  <input type="submit" class="btn btn-block btn-primary text-white py-3 px-5" value="Enviar mensaje">
                </div>
              </div>
          </div>
          </form>
          <div class="col-lg-4 ml-auto" data-aos="fade-up" data-aos-delay="200">
            <h2 class="text-primary">completá el formulario para asociarte.</h2>
            <p>Al completar el formulario ya serás parte de APLATEBA. Recibirás un mail confirmando tu inscripción.</p>
            <p><a href="formulario-asociar.html" class="btn btn-primary text-white">Asociarme</a></p>
          </div>
        </div>
      </div>
    </div>