<footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-8">
              <h2 class="footer-heading mb-4">APLATEBA</h2>
              <p>Asociación Platense de Técnicos de Básquet. Integrada por y para lxs entrenadorxs de nuestra región. Pensando
                 en la mejora de las condiciones laborales, deportivas y académicas.</p>
            </div>
            <div class="col-md-4 ml-auto">
              <h2 class="footer-heading mb-4">Links de interés</h2>
              <ul class="list-unstyled">
                <li><a href="https://entrenadoresdebasquet.com/">ATEBARA</a></li>
                <li><a href="https://www.instagram.com/eneba.lp/">ENEBA La Plata</a></li>
                <li><a href="http://www.enebar.com.ar/">ENEBA Nacional</a></li>
                <li><a href="http://www.apdeb.com.ar/">APdeB</a></li>
                <li><a href="http://enebapadron.fahce.unlp.edu.ar/app.php/Main/Padron">Padrón de entrenadorxs</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-4 ml-auto">
          <div class="mb-5">
            <h2 class="footer-heading mb-2">suscribite para más novedades</h2>
            <p>Actualidad, cursos, información general, reuniones, nueva bibliografía y mucho más.</p>
            <form action= "/" method="post" class="footer-suscribe-form">
              <div class="input-group mb-3">
                <input type="text" class="form-control border-secondary text-white bg-transparent" name="emailSub" placeholder="ejemplo@mail.com" aria-label="Enter Email" aria-describedby="button-addon2" value="<%= emailSub %>">
                <div class="input-group-append">
                  <button class="btn btn-primary text-white" type="button" id="button-addon2">Suscribirse</button>
                </div>
              </div>
            </form>
            </div>
            <h2 class="footer-heading mb-4">Seguinos</h2>
            <a href="https://www.instagram.com/laplataentrenadorxs/" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
            <a href="https://www.youtube.com/channel/UC_EDLhmuSzlzak06_t4rO3Q" class="pl-3 pr-3"><span class="icon-youtube"></span></a>
            <a href="https://www.facebook.com/aplateba.entrenadorxs.7" class="pl-3 pr-3"><span class="icon-facebook"></span>
        </div>
      </div>
      <div class="row pt-5 mt-5 text-center">
        <div class="col-md-12">
          <div class="border-top pt-5">
            <p class="copyright"><small>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart text-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" >Colorlib</a>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </small></p>
          </div>
        </div>

      </div>
    </div>
  </footer>