<link rel="icon" href="../images\logo-negro-01.png" type="image/png">
  <title>APLATEBA</title>
  <meta property="og:site_name" content="APLATEBA">
  <meta property="og:title" content="APLATEBA" />
  <meta property="og:description" content="Asociación de Técnicos/as de Básquet" />
  <meta property="og:type" content="website" />
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,700|Oswald:400,700" rel="stylesheet">

  <link rel="stylesheet" href="../fonts/icomoon/style.css">

  <link rel="stylesheet" href="../css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/jquery.fancybox.min.css">
  <link rel="stylesheet" href="../css/owl.carousel.min.css">
  <link rel="stylesheet" href="../css/owl.theme.default.min.css">
  <link rel="stylesheet" href="../fonts/mycollection/font/flaticon.css">
  <link rel="stylesheet" href="../css/aos.css">


  <link rel="stylesheet" href="../css/style.css"></link>